* text=auto
*.cs text eol=crlf
*.xaml text eol=crlf
*.ps1 text eol=crlf
*.sln text eol=crlf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.png binary
*.ico binary
*.exe binary
